<section class="section has-background-primary">

    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: ghostwhite;">“Une app tout-en-un & facile à utiliser”</h1><br>
      </div>
    </div><!-- EOF columns -->

    <div class="columns is-multiline">

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Dormir-dans-les-nuages.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image--> 
          <div class="card-content">
                <p class="title is-4 no-padding">Hébergements</p>
                 <div class="content">
                   <p>Dans quel quartier dormir ?</p>
                 </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->
      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Activités.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <p class="title is-4 no-padding">Activités</p>
              <div class="content">
                <p>Que faire, que visiter ?</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->
      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Navigation-gps.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <p class="title is-4 no-padding">Navigation GPS</p>
              <div class="content">
                <p>Obtenir un itinéraire et être guidé</p>
              </div><!-- EOF conent -->
            </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Multi-Transports.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->  
          <div class="card-content">
            <p class="title is-4 no-padding">Transport & Multimodal</p>
              <div class="content">
                <p>Comment je me déplace ?</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Ou-manger.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->  
          <div class="card-content">
            <p class="title is-4 no-padding">Gastronomie</p>
              <div class="content">
                <p>Où et quoi manger ?</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Wifi-Spots.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <p class="title is-4 no-padding">Connectivité</p>
              <div class="content">
                <p>Je reste connecté</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Histoire-Culture.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
            <div class="card-content">
              <p class="title is-4 no-padding">Histoire, culture et patrimoine</p>
                <div class="content">
                 <p>Je me cultive, je découvre, je m'enrichis</p>
               </div><!-- EOF conent -->
            </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Happyness.jpg" alt="Image">
            </figure>
          </div><!--EOF Card-image-->       
          <div class="card-content">
            <p class="title is-4 no-padding">Des infos utiles et pratiques, nos tips</p>
              <div class="content">
                <p>J'accède à des tips et des renseignements importants</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

    </div><!-- EOF columns is-multiline -->
</section>
</br>