<section class="section has-background-primary">

    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: ghostwhite;">“Une app tout-en-un & facile à utiliser”</h1><br>
      </div>
    </div><!-- EOF columns -->

    <div class="columns is-multiline">

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image--> 
          <div class="card-content">
                <p class="title is-4 no-padding">Hébergements</p>
                 <div class="content">
                   <p>Du contenu</p>
                 </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->
      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <p class="title is-4 no-padding">Activités</p>
              <div class="content">
                <p>Du contenu</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->
      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <p class="title is-4 no-padding">Navigation GPS</p>
              <div class="content">
                <p>Du contenu</p>
              </div><!-- EOF conent -->
            </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->  
          <div class="card-content">
            <p class="title is-4 no-padding">Transport & Multimodal</p>
              <div class="content">
                <p>Du contenu</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->  
          <div class="card-content">
            <p class="title is-4 no-padding">Gastronomie</p>
              <div class="content">
                <p>Du contenu</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <p class="title is-4 no-padding">Connectivité</p>
              <div class="content">
                <p>Du contenu</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->
            <div class="card-content">
              <p class="title is-4 no-padding">Histoire, culture et patrimoine</p>
                <div class="content">
                 <p>Du contenu</p>
               </div><!-- EOF conent -->
            </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="/img/placeholder.png" alt="Image">
            </figure>
          </div><!--EOF Card-image-->       
          <div class="card-content">
            <p class="title is-4 no-padding">Des infos utiles et pratiques, nos tips</p>
              <div class="content">
                <p>Du contenu</p>
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->

       

      </div><!-- EOF columns is-one-quarter -->

    </div><!-- EOF columns is-multiline -->
</section>
</br>