<section class="section has-background-primary">

    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title" style="color: ghostwhite;">“Accès libre sans login ni mot de passe”</h1><br>
      </div>
    </div><!-- EOF columns -->

    <div class="columns">

      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="../../img/Download-App.jpg" alt="Image" style="padding-top: 10px;">
            </figure>
          </div><!-- EOF Card-image --> 
          <div class="card-content">
                <div class="buttons">
                    <a href="https://www.appsheet.com/newshortcut/34770f18-fa46-45bb-aae0-0098aece822c" target="_blank" class="button is-fullwidth is-medium is-danger is-responsive mt-6">
                    Je télécharge sur mon mobile
                    </a>
                </div><!-- EOF buttons -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->
      </div><!-- EOF columns is-one-quarter -->

      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="img/Sur-ordinateur.jpg" alt="Image" style="padding-top: 10px;">
            </figure>
          </div><!--EOF Card-image-->
          <div class="card-content">
            <div class="buttons">
                <a href="https://www.appsheet.com/start/34770f18-fa46-45bb-aae0-0098aece822c" target="_blank" class="button is-fullwidth is-medium is-danger is-responsive mt-6">
                Je consulte sur mon PC
                </a>
            </div><!-- EOF buttons -->
              </div><!-- EOF conent -->
          </div><!-- EOF card-content -->
        </div><!-- EOF card -->
      </div><!-- EOF columns is-one-quarter -->

    </div><!-- EOF columns -->
</section>
</br>