{{ define "main" }}
<section class="section">
  <article>
    
    <div class="columns is-centered">

        <div class="column max-800px">
          <h1 class="title is-1">{{ .Title }}</h1>
           <div class="title subtitle heading is-6">
            <div class="columns is-vcentered is-mobile">
              {{ with .Site.Params.authorImage }}
              <div class="column is-narrow">
                <img src="{{ . }}" class="author-image">
              </div>
              {{ end }}
              <div class="column">
                <p>{{ .Site.Params.Author }}</p>
                <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time> | 
                    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}</p>
              </div>
              <!-- Ajout des categories -->
              <div class="column">
              {{ range $idx, $category := .Params.categories }}
              {{- if ne $idx 0 }}, {{ end }}
                <a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
              {{- end }}
              </div> <!-- EOF Categories -->
            </div>
           </div>
         
          <!-- Insertion de l'image cover -->
          {{- if $.Page.Resources.GetMatch "cover.*" -}}
          <div class="post-anchor">
          {{- partial "util/cover.html" (dict "class" "banner-holder" "page" . "width" 800 "height" 400) -}}
          </div>
          {{- end -}}
          <!-- EOF Insertion de l'image cover -->

          <div class="content">
            {{ .Content }}
          </div>

        </div>

<!-- Right Sidebar  -->

<div class="column is-3">
<p>Je suis le code de la sidebar</p>
</div>
  
<!-- EOF Right Sidebar  -->  

    </div><!-- EOF columns Is-centered -->
  </article>

  
  
<!-- Navigation article suivant, article précédent -->
  <section class="section">
    <div class="columns is-centered">
      <div class="column max-800px">
        <div class="columns is-mobile">
          <div class="column has-text-left">
            {{ with .PrevInSection }}
            <p>Previous post</p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </div>
          <div class="column has-text-right">
            {{ with .NextInSection }}
            <p>Next post</p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
<!-- EOF - Navigation article suivant, article précédent -->
<!-- Related Content -->
<section class="section container">

  <div class="content">
        <h2>Vous devriez également aimer ce qui suit...</h2>
  </div>

    <div class="columns">
        {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
        {{ range $related }}
        
        <div class="column is-one-third">
            {{ partial "widgets/post-card-small.html" . }}
        </div>
        {{ end }}
    </div>
 
</section>
<!-- EOF Related Content -->

{{ end }}