<header>
    <nav class="navbar has-shadow is-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" title="Acceuil" class="navbar-item">
                    <span class="logo"><h1>{{ $.Site.Params.brand }}</h1></span>
                </a>
                {{ range .Site.Menus.social }}
                <a href="{{ .URL }}" class="navbar-item is-hidden-desktop" title="{{ .Name }}"><span
                        class="icon">{{ .Pre }}</span></a>
                {{ end }}
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div><!-- EOF navbar-brand -->

            <div class="navbar-menu">
        
        <!-- Modification - Ancien Code
                <div class="navbar-start">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                    {{ end }}
                </div>
         --> 


         <!-- Nouveau code -->
         <div class="navbar-start">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">{{- .Name -}}</a>
              <div class="navbar-dropdown">
                {{ range .Children }}
                <a class="navbar-item" href="{{ .URL }}">
                  {{- .Name -}}
                </a>
                {{ end }}
              </div>
            </div>
            {{ else }}
            <a class="navbar-item" href="{{ .URL }}">
              {{- .Name -}}
            </a>
            {{ end }}
            {{ end }}
          </div>

                <!-- Fin du Nouveau code-->

                <div class="navbar-end">
                    {{ range .Site.Menus.social }}
                    <a href="{{ .URL }}" class="navbar-item is-hidden-touch" title="{{ .Name }}"><span
                            class="icon">{{ .Pre }}</span></a>
                    {{ end }}
                </div><!-- EOF navbar-end -->
            </div><!-- EOF navbar-menu -->
        </div><!-- EOF container -->

        
    </nav>

    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            })
        })
    </script>
    
</header>



